$primaryColor: #3498DB;
$secondaryColor: #2196F3;

$primary: #0080A6;
$gray-dark: lighten(black, 25%);
$gray: lighten(black, 50%);
$white-faded: fade(white, 80%);
$gray-light: #eee;

@font-face {
  font-family:segoe-ui_normal;
  src:url('../fonts/segoe-ui.eot');
  src:url('../fonts/segoe-ui.eot?#iefix') format("embedded-opentype"),
      url('../fonts/segoe-ui.woff') format("woff"),
      url('../fonts/segoe-ui.ttf') format("truetype"),
      url('../fonts/segoe-ui.svg#web') format("svg");
  font-weight:400;
  font-style:normal;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: $gray-dark;
  background-color: #ffffff;
}

.vertical-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
