//$primaryColor: #00a7e1;
$secondaryColor: #2196F3;
$primaryColor: #3498DB;

$headerHeight: 500px;
$navWrapperHeight: 5.625em;
$navPadding: 5%;
$navMobilePadding: 1em;

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  color: #333333;
  background-color: #ffffff;
  font-family: 'Open Sans', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  border: none;
  outline: #333333 none 0;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

section {
  width: 100%;
  height: auto;
  padding: $navMobilePadding;
  background-color: #ffffff;
  overflow: hidden;
  border-bottom: 1px solid #cfd5e1;

  @media all and (#{"min-width: 751px"}) {
    padding: 3em $navPadding;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: montserrat,'open sans',"Arial Black",serif;
  font-weight: 400;
  color: #2b2b2b;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

a {
  text-decoration: none;
}

.vertical-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
