section.magazines {
  padding: 30px $headerPadding;
  background: #ffffff;

  h2 {
    font-size: 1.5em;
    line-height: 2em;
    text-align: justify;
  }

  .content {
    font-size: 1em;
    line-height: 1.9em;
    padding: 15px 0;
    text-align: justify;
  }

  .magazines-list {
    width: 100%;
    height: auto;
    overflow: hidden;

    .magazine {
      margin: 30px auto;
      height: 300px;
      width: 300px;

      &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
      }

      a, a:hover, a:active {
        display: block;
        width: 100%;
        height: 300px;
        text-decoration: none;
      }

      .one {
        background: url('../images/js.jpg') no-repeat;
        background-size: 300px;
      }

      .two {
        background: url('../images/angular.png') no-repeat;
        background-size: 300px;
      }

      .three {
        background: url('../images/html5.png') no-repeat;
        background-size: 300px;
      }

      .one, .two, .three {

        .overlay {

          position: relative;
          bottom: -300px;
          left: 0;
          right: 0;

          width: 100%;
          height: 0%;

          color: #ffffff;
          text-align: center;
          background: rgba(0, 0, 0, 0.8);
          overflow: hidden;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }

        &:hover > .overlay {
          height: 100%;
          bottom: 0;
          line-height: 300px;
          font-size: 1.5em;
        }
      }
    }
  }
}