section.speaking {
  padding: 30px $headerPadding;
  background: #e9e9e9;

  h2 {
    font-size: 1.5em;
    line-height: 2em;
    text-align: justify;
  }

  h3 {
    font-size: 1.1em;
    line-height:1.6em;
  }

  //@media all and (#{"min-width: 751px"}) {
  //
  //  padding-top: 0;
  //  padding-right: 0;
  //  padding-left: 0;
  //
  //  h2 {
  //     width: $desktopWidth;
  //     margin-left: auto;
  //     margin-right: auto;
  //   }
  //}

  .content {
    font-size: 1em;
    line-height: 1.9em;
    padding: 15px 0;
    //color: #adadad;
    //color: #00a7e1;
  }

  .talks {
    width: 100%;
    height: auto;
    overflow: hidden;

    //@media all and (#{"min-width: 751px"}) {
    //  width: $desktopWidth;
    //  margin-left: auto;
    //  margin-right: auto;
    //}

    .card {
      background: #ffffff;
      height: 400px;
      width: 300px;
      margin: 30px auto;

      &:hover {
        box-shadow:0 5px 10px rgba(0,0,0,.15);
      }

      .card-image {
        height: 170px;
        border-bottom: 1px solid #dadada;
      }

      .card-content {
        height: 190px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .card-link {
        text-transform: uppercase;
        height: 30px;
        padding-left: 20px;
        padding-right: 20px;

        a, a:hover {
          text-decoration: none;
          color: #448aff;
          letter-spacing: .5px;

          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}