section(id='about', class='about')
    h2 SHRAVAN KASAGONI
    .content
        | I am Shravan Kumar Kasagoni working as Senior Development Engineer with Pramati Technologies,
        | responsible for design and development of RESTful APIs, single page web applications.
        | Prior to Pramati Technologies I worked with Thomson Reuters.
        | I am core member of Microsoft User Group Hyderabad.
        | I also actively contribute to other open source communities.<br/><br/>
        | I have been awarded Microsoft's prestigious Most Valuable Professional (MVP)
        | title for last 5 years in a row under Visual Studio and Development Technologies category,
        | for my community contributions in modern web technologies using ASP.NET and open source technologies.