section.about
    .content
        | I am Shravan Kumar Kasagoni working as Senior Development Engineer with Pramati Technologies,
        | responsible for design and development of RESTful APIs, single page web applications.
        | Prior to Pramati Technologies I worked with Thomson Reuters.
        | I am a core member of  Microsoft User Group Hyderabad.
        | I also actively contribute to open source community.<br/><br/>
        | I have been awarded as Microsoft Most Valuable Professional (MVP) under Visual Studio and Development
        | Technologies category from Microsoft for years 2012, 2013, 2014, 2015, 2016.