section.bg
    .overlay
    .container
        .row
            h1
                | SHRAVAN KASAGONI
            .content
                | Developer, gadget freak , technology evangelist, blogger, speaker, author and storyteller