footer
    | &copy; Shravan Kumar Kasagoni 2016. All rights reserved.



//li: a(href="#speaking") Speaking Engagements
//li: a(href="#projects") Things I've made
//li: a(href="#magazines") Magazines
//li: a(href="http://theshravan.net/blog/") Blog
//li: a(href="#books") Books I've written
//li: a(href="#social") Social