header
    .header-content
        .header-content-inner
            h1 Shravan Kumar Kasagoni
            hr
            p
                | Developer, gadget freak , technology evangelist, blogger, speaker, author and storyteller!