header
    .header-content
        .header-content-inner
            img.img-responsive(src='/img/shravan.jpg', alt='Shravan')
            h1 Shravan Kumar Kasagoni
            hr
            p
                | Developer, gadget freak , technology evangelist, blogger, speaker, author and storyteller!