nav.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container-fluid
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#theshravan-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') SHRAVAN
        div.collapse.navbar-collapse(id='theshravan-navbar-collapse-1')
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#about') About Me
                li
                    a(href='#speaking') Speaking
                li
                    a(href='#projects') Projects
                li
                    a(href='#magazines') Magazines
                li
                    a(href='http://theshravan.net/blog/') Blog
                li
                    a(href='#books') Books
                li
                    a(href='#social') Social
header
    .site-heading
        h1 Shravan Kumar Kasagoni
        h2 Developer, gadget freak , technology evangelist, blogger, speaker, author and storyteller