header
    .header-content
        .header-content-inner
            img.img-responsive(src='/assets/img/shravan.png', alt='Shravan')
            h1 Shravan Kumar Kasagoni
            p
                | Developer, gadget freak , technology evangelist, blogger, speaker, author and storyteller!