header
    .overlay
    .main-wrapper
        .nav-wrapper
            nav
                .logo-wrapper
                    a(href="/")
                button.navbar-toggle
                    span.nav-icon-bars
                    span.nav-icon-bars
                    span.nav-icon-bars
                ul.primary-menu
                    li: a(href="#about") About Me
                    li: a(href="#speaking") Speaking
                    li: a(href="#projects") Projects
                    li: a(href="#magazines") Magazines
                    li: a(href="http://theshravan.net/blog/") Blog
                    li: a(href="#books") Books
                    li: a(href="#social") Social
        .content-wrapper
            h1.title
                | SHRAVAN KASAGONI
            .subtitle
                | Developer, gadget freak , technology evangelist, blogger, speaker, author and storyteller