section(id='magazines', class='magazines clearfix')
    h2 FLIPBOARD MAGAZINES
    .content
        | I run few online technical magazines on JavaScript, Angular, HTML5.
        | You can read them flipboard and they are updated every week with latest content.
    .magazines-list
        .magazine
            a(data-flip-widget='mag', href='https://flipboard.com/@techieshravan/javascript-weekly-65hoq3uey') View my Flipboard Magazine.
            script(src='https://cdn.flipboard.com/web/buttons/js/flbuttons.min.js', type='text/javascript')

        .magazine
            a(data-flip-widget='mag', href='https://flipboard.com/@techieshravan/the-angular-2-njcqu6i8y') View my Flipboard Magazine.
            script(src='https://cdn.flipboard.com/web/buttons/js/flbuttons.min.js', type='text/javascript')

        .magazine
            a(data-flip-widget='mag', href='https://flipboard.com/@techieshravan/html5-weekly-q4m446sfy') View my Flipboard Magazine.
            script(src='https://cdn.flipboard.com/web/buttons/js/flbuttons.min.js', type='text/javascript')