section#magazines
    .container-fluid
        .row
            .col-xs-12
                h2.section-heading-light MAGAZINES
        .row
            .col-xs-12.text-center
                p
                    |  I maintain few technology magazines on flipboard, they are update with latest happenings every week.
        .row
            .col-xs-12.text-center
                p
        .container
            .row
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    a.box.black(target='_blank', href='https://flipboard.com/@techieshravan/javascript-weekly-65hoq3uey')
                        .row
                            .col-xs-12
                                img.img-responsive(src='/assets/img/flipboard/javascript.svg', alt='JAVASCRIPT WEEKLY')
                             .col-xs-12.magazine-name
                                | JAVASCRIPT WEEKLY
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    a.box.red(target='_blank', href='https://flipboard.com/@techieshravan/the-angular-2-njcqu6i8y')
                        .row
                            .col-xs-12
                                img.img-responsive(src='/assets/img/flipboard/angular.svg', alt='THE ANGULAR 2')
                            .col-xs-12.magazine-name
                                | THE ANGULAR 2
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    a.box.orange(target='_blank', href='https://flipboard.com/@techieshravan/html5-weekly-q4m446sfy')
                        .row
                            .col-xs-12
                                img.img-responsive(src='/assets/img/flipboard/html5.svg', alt='HTML5 WEEKLY')
                            .col-xs-12.magazine-name
                                | HTML5 WEEKLY