section(id='magazines', class='magazines clearfix')
    h2 FLIPBOARD MAGAZINES
    .content
        | I run few online technical magazines on JavaScript, Angular, HTML5.
        | You can read them flipboard and they are updated every week with latest content.
    .magazines-list
        .magazine
            a(href='http://flip.it/4Kf2C', target='_blank', class='one')
                .overlay JAVASCRIPT WEEKLY
        .magazine
            a(href='http://flip.it/REoi6', target='_blank', class='two')
                .overlay THE ANGULAR 2
        .magazine
            a(href='http://flip.it/zFlB5', target='_blank', class='three')
                .overlay HTML5 WEEKLY