nav#mainNav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.page-scroll(href='#page-top') SHRAVAN
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a.page-scroll(href='#about') About Me
                li
                    a.page-scroll(href='#speaking') Speaking
                li
                    a.page-scroll(href='#projects') Projects
                li
                    a.page-scroll(href='#books') Books
                li
                    a.page-scroll(href='#magazines') Magazines
                li
                    a(href='http://theshravan.net/blog/', target='_blank') Blog
                li
                    a.page-scroll(href='#social') Contact