section#projects.no-padding
    .container-fluid
        .row.no-gutter
            .col-lg-4.col-sm-6
                a.portfolio-box(target='_blank', href='https://github.com/techieshravan/angular2-examples/tree/master/ContactsManager')
                    img.img-responsive(src='/img/portfolio/1.jpg', alt='')
                    .portfolio-box-caption
                        .portfolio-box-caption-content
                            .project-category.text-faded
                                | Angular
                            .project-name
                                | Contacts Manager
            .col-lg-4.col-sm-6
                a.portfolio-box(target='_blank', href='https://github.com/techieshravan/angular2-examples/tree/master/GithubDashboard')
                    img.img-responsive(src='/img/portfolio/2.jpg', alt='')
                    .portfolio-box-caption
                        .portfolio-box-caption-content
                            .project-category.text-faded
                                | Angular
                            .project-name
                                | Github Dashboard
            .col-lg-4.col-sm-6
                a.portfolio-box(target='_blank', href='https://github.com/techieshravan/angular2-examples/tree/master/NotesApp')
                    img.img-responsive(src='/img/portfolio/3.jpg', alt='')
                    .portfolio-box-caption
                        .portfolio-box-caption-content
                            .project-category.text-faded
                                | Angular
                            .project-name
                                | Notes App