section#social
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading Let's Get In Touch!
                hr.primary
                //p
                //    | Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
        .row
            .col-lg-12.text-center
                P
        .row
            .col-lg-3.text-center
                i.fa.fa-twitter.fa-3x.wow.bounceIn
                p
                    a(href='http://twitter.com/techieshravan', target="_blank") @techieshravan
            .col-lg-3.text-center
                i.fa.fa-linkedin.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                p
                    a(href='http://linkedin.com/in/techieshravan', target="_blank") techieshravan
            .col-lg-3.text-center
                i.fa.fa-github.fa-3x.wow.bounceIn(data-wow-delay='.2s')
                p
                    a(href='http://github.com/techieshravan', target="_blank") techieshravan
            .col-lg-3.text-center
                i.fa.fa-github.fa-3x.wow.bounceIn(data-wow-delay='.3s')
                p
                    a(href='http://instagram.com/theshravan', target="_blank") theshravan