section#social
    .container
        .row
            .col-xs-12
                h2.section-heading-light Let's Get In Touch!
        .row
            .col-xs-12
        .row
            .col-xs-6.col-sm-3.text-center
                a(href='http://twitter.com/techieshravan', target="_blank")
                    i.fa.fa-twitter.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                    p @techieshravan
            .col-xs-6.col-sm-3.text-center
                a(href='http://linkedin.com/in/techieshravan', target="_blank")
                    i.fa.fa-linkedin.fa-3x.wow.bounceIn(data-wow-delay='.2s')
                    p techieshravan
            .col-xs-6.col-sm-3.text-center
                a(href='http://github.com/techieshravan', target="_blank")
                    i.fa.fa-github.fa-3x.wow.bounceIn(data-wow-delay='.3s')
                    p techieshravan
            .col-xs-6.col-sm-3.text-center
                a(href='http://instagram.com/shravanstime', target="_blank")
                    i.fa.fa-instagram.fa-3x.wow.bounceIn(data-wow-delay='.4s')
                    p shravanstime