section#speaking
    .container-fluid
        .row
            .col-xs-12
                h2.section-heading-light SPEAKING ENGAGEMENTS
        .row
            .col-xs-12.col-sm-6.col-md-4.text-center
                .box
                    i.fa.fa-4x.fa-mobile.wow.bounceIn.text-primary
                    h3 Cross Platform Mobile Development
                    p.text-muted
                        |  Presented a session on building cross platform mobile application using Xamarin and Visual Studio at Hexagon.
            .col-xs-12.col-sm-6.col-md-4.text-center
                .box
                    i.fa.fa-4x.fa-connectdevelop.wow.bounceIn.text-primary(data-wow-delay='.1s')
                    h3 Hyderabad DevOps Community Roadshow 2016
                    p.text-muted
                        | Presented a session on enabling DevOps practices using CI, CD &amp Release Management using Microsoft Visual Studio Team Services.
            .col-xs-12.col-sm-6.col-md-4.text-center
                .box
                    i.fa.fa-4x.fa-cloud.wow.bounceIn.text-primary(data-wow-delay='.2s')
                    h3 Hyderabad Global Azure Bootcamp 2016
                    p.text-muted
                        | Presented a session on building hyper-scale micro services using Azure Service Fabric at Global Azure Bootcamp 2016.