section#speaking
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading SPEAKING ENGAGEMENTS
                hr.primary
    .container
        .row
            .col-lg-3.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-connectdevelop.wow.bounceIn.text-primary
                    h3 Hyderabad DevOps Community Roadshow 2016
                    p.text-muted
                        | Presented a session on enabling DevOps practices using Continuous Integration, Continuous Delivery &amp Release Management using Microsoft Visual Studio Team Services.
            .col-lg-3.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-cloud.wow.bounceIn.text-primary(data-wow-delay='.1s')
                    h3 Hyderabad Global Azure Bootcamp 2016
                    p.text-muted Presented a session on
            .col-lg-3.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                    h3 Up to Date
                    p.text-muted We update dependencies to keep things fresh.
            .col-lg-3.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                    h3 Made with Love
                    p.text-muted You have to make your websites with love these days!
aside.bg-dark
    .container.text-center
        .call-to-action
            h2 Some of the stuff I do!