section(id='speaking', class='speaking clearfix')
    h2 SPEAKING ENGAGEMENTS
    .content
        | I am a regular speaker in many technical events, conferences and local user group meetups.
    h3 recent talks
    .talks
        .talk
            a(href='http://www.slideshare.net/techieshravan/angular-20-with-typescript-58819565' target='_blank')
                span.date Feb 28 2016
                h4 Angular 2 with TypeScript
                span.presentation View Presentation
        .talk
            a(href='http://www.slideshare.net/techieshravan/angular-20-with-typescript-58819565' target='_blank')
                span.date Feb 28 2016
                h4 Angular 2 with TypeScript
                span.presentation View Presentation
        .talk
            a(href='http://www.slideshare.net/techieshravan/angular-20-with-typescript-58819565' target='_blank')
                span.date Feb 28 2016
                h4 Angular 2 with TypeScript
                span.presentation View Presentation
        .talk
            a(href='http://www.slideshare.net/techieshravan/angular-20-with-typescript-58819565' target='_blank')
                span.date Feb 28 2016
                h4 Angular 2 with TypeScript
                span.presentation View Presentation
        .talk
            a(href='http://www.slideshare.net/techieshravan/angular-20-with-typescript-58819565' target='_blank')
                span.date Feb 28 2016
                h4 Angular 2 with TypeScript
                span.presentation View Presentation
        .talk
            a(href='http://www.slideshare.net/techieshravan/angular-20-with-typescript-58819565' target='_blank')
                span.date Feb 28 2016
                h4 Angular 2 with TypeScript
                span.presentation View Presentation
        .talk
            a(href='http://www.slideshare.net/techieshravan/angular-20-with-typescript-58819565' target='_blank')
                span.date Feb 28 2016
                h4 Angular 2 with TypeScript
                span.presentation View Presentation
        .talk
            a(href='http://www.slideshare.net/techieshravan/angular-20-with-typescript-58819565' target='_blank')
                span.date Feb 28 2016
                h4 Angular 2 with TypeScript
                span.presentation View Presentation