section(id='speaking', class='speaking clearfix')
    h2 SPEAKING ENGAGEMENTS
    .content
        | I present in many technical events and regular user group meetups.
    //h3 Here are some of my recent talks.
    h3 Some of my recent talks.
    .talks
        .card
            .card-image
            .card-content
            .card-link
                a(href='')
                 | View Presentation
        .card
            .card-image
            .card-content
            .card-link
                a(href='')
                    | View Presentation
        .card
            .card-image
            .card-content
            .card-link
                a(href='')
                    | View Presentation
        .card
            .card-image
            .card-content
            .card-link
                a(href='')
                    | View Presentation
        .card
            .card-image
            .card-content
            .card-link
                a(href='')
                    | View Presentation
