section#speaking
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading SPEAKING ENGAGEMENTS
                hr.primary
    .container
        .row
            .col-lg-4.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-mobile.wow.bounceIn.text-primary
                    h3 Cross Platform Mobile Development
                    p.text-muted
                        |  Presented a session on building cross platform mobile application using Xamarin and Visual Studio at Hexagon.
            .col-lg-4.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-connectdevelop.wow.bounceIn.text-primary(data-wow-delay='.1s')
                    h3 Hyderabad DevOps Community Roadshow 2016
                    p.text-muted
                        | Presented a session on enabling DevOps practices using CI, CD &amp Release Management using Microsoft Visual Studio Team Services.
            .col-lg-4.col-md-6.text-center
                .service-box
                    i.fa.fa-4x.fa-cloud.wow.bounceIn.text-primary(data-wow-delay='.2s')
                    h3 Hyderabad Global Azure Bootcamp 2016
                    p.text-muted
                        | Presented a session on building hyper-scale micro services using Azure Service Fabric at Global Azure Bootcamp 2016.