doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Shravan Kumar Kasagoni is a Senior Developer at RealPage Inc. ' +
                                            'He is responsible for design and development of RESTful APIs, single page web applications and enterprise cloud applications. ' +
                                            'Prior to RealPage I worked with Thomson Reuters and Pramati Technologies. His expertise includes different cloud technologies, ' +
                                            'modern JavaScript frameworks and many front-end technologies. He has been awarded Microsoft prestigious Most Valuable Professional ' +
                                            '(MVP) title for last 5 years in a row under Visual Studio and Development Technologies category, for his exceptional community ' +
                                            'contributions in modern web technologies using ASP.NET and open source technologies.')
        meta(name='author', content='Shravan Kumar Kasagoni')

        meta(name='twitter:card', content='summary')
        meta(name='twitter:description', content='Shravan Kumar Kasagoni is a Senior Developer at RealPage Inc. ' +
                                                    'He is responsible for design and development of RESTful APIs, single page web applications and enterprise cloud applications. ' +
                                                    'Prior to RealPage I worked with Thomson Reuters and Pramati Technologies. His expertise includes different cloud technologies, ' +
                                                    'modern JavaScript frameworks and many front-end technologies. He has been awarded Microsoft prestigious Most Valuable Professional ' +
                                                    '(MVP) title for last 5 years in a row under Visual Studio and Development Technologies category, for his exceptional community ' +
                                                    'contributions in modern web technologies using ASP.NET and open source technologies.')
        meta(name='twitter:image:src', content='http://theshravan.net/assets/img/shravan.png')
        meta(name='twitter:creator', content='@techieshravan')
        meta(name='twitter:url', content='http://theshravan.net/')
        meta(name='twitter:title', content='Shravan Kumar Kasagoni')
        meta(property='og:image', content='http://theshravan.net/assets/img/shravan.png')


        title Shravan Kumar Kasagoni | theshravan.net

        link(rel='icon', href='/assets/img/favicon.png')

        // Bootstrap Core CSS
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css', type='text/css')

        // Custom Fonts
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
        link(href='/assets/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

        // Plugin CSS
        link(href='/assets/css/animate.min.css', rel='stylesheet', type='text/css')

        // Custom CSS
        link(href='/assets/css/creative.css', rel='stylesheet', type='text/css')

        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries, WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

    body#page-top
        include sections/navigation.jade
        include sections/header.jade
        include sections/about.jade
        include sections/speaking.jade
        include sections/projects.jade
        include sections/books.jade
        include sections/magazines.jade
        include sections/social.jade
        include sections/footer.jade


        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-78128933-1', 'auto');
            ga('send', 'pageview');
        script(src='/assets/js/jquery.js')
        script(src='/assets/js/bootstrap.min.js')
        script(src='/assets/js/jquery.easing.min.js')
        script(src='/assets/js/jquery.fittext.js')
        script(src='/assets/js/wow.min.js')
        script(src='/assets/js/creative.js')
