doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Shravan Kumar Kasagoni | theshravan.net
        link(rel="icon" href="favicon.ico")

        link(rel="author" content="Shravan Kumar Kasagoni" href="THESHRAVAN/humans.txt")
        link(rel="canonical" href="http://theshravan.net")

        meta(name="description" content="Website for Shravan Kumar Kasagoni. I build few crazy products for next generation web &amp; mobile.")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:title" content="")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@techieshravan")
        meta(name="twitter:creator" content="@techieshravan")
        meta(name="twitter:image" content="http://theshravan.net/THESHRAVAN/images/shravan.jpg")
        meta(name="twitter:description" content="Website for Shravan Kumar Kasagoni. I build few crazy products for next generation web &amp; mobile.")

        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="styles/site.css")

body
    include sections/header.jade
    include sections/main.jade
    include sections/footer.jade
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(type='text/javascript', src='scripts/menu.js')
