header {

  position: relative;
  width: 100%;
  height: 100%;
  @extend .background-cover;
  background: url('../img/header.jpg') center;
  text-align: center;
  color: white;

  @media (min-width: 768px) {
    min-height: 100%;
  }

  .header-content {
    width: 100%;
    height: 100%;

    .header-content-inner {
      text-align: center;
      position: relative;
      top: 50%;
      left: 0;
      color: #fff;
      padding: 0 15px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      img {
        border-radius: 50%;
        display: block;
        width: 150px;
        height: 150px;
        box-shadow: 0 0 12px rgba(0,0,0,.2);
        border: 4px solid #fff;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
      }

      @media (min-width: 768px) {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
      }

      h1 {
        font-size: 48px!important;
        font-weight: 300;
        line-height: 150%;
        margin-top: 0;
        margin-bottom: 0;
      }

      hr {
        margin: 30px auto;
      }

      p {
        font-size: 24px;
        line-height: 48px;
        font-weight: 200;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
      }
    }
  }
}