$color1: #df252c;
$color2: #0099CC;

#magazines {

  padding-bottom: 20px;

  .box {
    position: relative;
    display: block;
    max-width: 250px;
    margin: 0 auto;

    .magazine-name {
      @extend .sans-serif-font;
      padding: 10px 15px;
      font-size: 18px;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 22px;
      }
    }
  }

  .black {
    color: #000000;

    &:hover {
      @extend .magazine-hover;
    }
  }

  .red {
    color: #C3002F;

    &:hover {
      @extend .magazine-hover;
    }
  }

  .orange {
    color: #E44D26;

    &:hover {
      @extend .magazine-hover;
    }
  }
}