.navbar-default {
  background-color: #ffffff;
  border-color: rgba($theme-dark, 5%);
  @extend .sans-serif-font;
  @extend .transition-all;

  @media (min-width: 768px) {
    background-color: transparent;
    border-color: rgba(white, 30%);

    &.affix {
      background-color: #ffffff;
      border-color: rgba($theme-dark, 5%);

      .navbar-header .navbar-brand {
        color: $theme-primary;
        font-size: 14px;

        &:hover, &:focus {
          color: darken($theme-primary, 10%);
        }
      }

      .nav > li > a, .nav > li > a:focus {
        color: $theme-dark;

        &:hover {
          color: $theme-primary;
        }
      }
    }
  }

  .navbar-header .navbar-brand {
    @extend .sans-serif-font;
    color: $theme-primary;
    text-transform: uppercase;

    @media (min-width: 768px) {
      color: $theme-white;
    }

    &:hover, &:focus {
      color: darken($theme-primary, 10%);

      @media (min-width: 768px) {
        color: rgba(white, .7);
      }
    }
  }

  .nav {

    > li {

      > a, > a:focus {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
        color: $theme-dark;

        @media (min-width: 768px) {
          color: $theme-white;
        }

        &:hover {
          color: $theme-primary;

          @media (min-width: 768px) {
            color: rgba(white, 70%);
          }
        }
      }

      &.active {
        > a, > a:focus {
          color: $theme-primary !important;
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}