.section-heading {
  margin-top: 0;
  line-height: 150%;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;

  .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba($theme-primary, 90%);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    @extend .transition-all;

    .portfolio-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .project-category, .project-name {
        @extend .sans-serif-font;
        padding: 0 15px;
      }

      .project-category {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;

        @media (min-width: 768px) {
          font-size: 16px;
        }
      }

      .project-name {
        font-size: 18px;

        @media (min-width: 768px) {
          font-size: 22px;
        }
      }
    }
  }

  &:hover {
    .portfolio-box-caption {
      opacity: 1;
    }
  }
}

.call-to-action {
  h2 {
    line-height: 150%;
  }
}

#about {
  p.content {
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 32px;
  }
}