#speaking {

  .box {
    max-width: 400px;
    margin: 30px auto 0;

    @media (min-width: 992px) {
      margin-top: 20px;
    }

    h3, p {
      line-height: 150%;
    }

    p {
      margin-bottom: 0;
    }
  }
}